<div class="container">
	<div class="page-header">
		<h1>
			{{#link-to 'index'}}Bloggidy blog {{/link-to}}
		</h1>

		{{#if currentUser}}
			{{currentUser.name}}
			<a href="#" {{action 'logOut'}}>Log out</a>
			{{#link-to 'newPost'}}New Post{{/link-to}}

		{{else}}
			{{#link-to 'login'}}Log in{{/link-to}}
		{{/if}}
		
	</div>

	<div class="row">
		<div class="sidebar col-md-3">
			Authors:
			<ul>
				{{#each authors}}
					<li>
						{{#link-to 'author' id}} {{name}} {{/link-to}}
					</li>
				{{/each}}
			</ul>
		</div>
		<div class="main col-md-9">
			{{!-- Something is missing here --}}
			{{!-- (main page body) --}}
		</div>
	</div>
</div>
