<h3>Home Page</h3>
<h5>The URL for this page is at the "/" root of your site</h5>
<p>Here we are going to show you how you can easily get a site production started with Ember and node build tools.</p>